/* copied these over, probably change them */

header {
    font-family: 'Ubuntu', sans-serif;
}

header a {
    text-decoration: none;
}

header h1 {
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 0.10rem;
    color: white;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
    header ul {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 3vw;
    }

    header ul>li, header ul>li>a {
        box-sizing: border-box;
        margin: 0.5rem auto;
        width: 100%;
        text-align: center;
    }
}